{% extends 'base_auth.html' %}
{% load i18n %}
{% block title %} {% translate "Login page" %} {% endblock %}

{% block content %}

<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">{% trans "Sign in to start your session" %}</p>

        <form method="post" action="{% url 'CustomUser:login' %}">

            {% load crispy_forms_tags %}
            {% crispy form %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="form-group">
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" name="remember_me" class="checkboxinput form-check-input"
                                       id="id_remember_me"> {% trans "Remember me" %}
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">{% trans "Sign In" %}</button>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </form>
    </div>
    <!-- /.login-card-body -->
</div>
{{ form.media }}
{% endblock %}
