{% load static %}
{% load i18n %}
<!-- Brand Logo -->
<!--<a href="{% url 'base:dashboard' %}" class="brand-link">-->
<!--    <img src="{% static 'img/logo-sabores.png' %}" alt="Sabores Hidalgo Logo" class="" style="max-width: 100%;">-->
<!--    <span class="brand-text font-weight-light"></span>-->
<!--</a>-->
<!-- Brand Logo -->
<a href="{% url 'base:dashboard' %}" class="brand-link">
    <img src="{% static 'vendor/admin-lte/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"
         class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Sabores Hidalgo</span>
</a>
<div class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="{% static 'vendor/admin-lte/dist/img/avatar5.png' %}" class="img-circle elevation-2"
                 alt="User Image">
        </div>
        <div class=" info">
            <a  >{% if request.user.first_name or request.user.last_name %} {{ request.user.first_name }}
                {{ request.user.last_name }} {% else %} {{ request.user.username }} {% endif %}</a>

        </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

            <!-- Dashboard -->
            <li class="nav-item">
                <a href="{% url 'base:dashboard' %}" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>

            <!-- Customers -->
            <li class="nav-item">
                <a href="{% url 'Customer:list' %}" class="nav-link">
                    <i class="nav-icon fas fa-people-group"></i>
                    <p>
                        {% translate 'Customers' %}
                    </p>
                </a>
            </li>

            <!-- Invoices -->
            <li class="nav-item">
                <a   class="nav-link">
                    <i class="nav-icon fa-solid fa-file-circle-check"></i>
                    <p>
                        {% translate 'Invoices' %}
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'Invoice:list' 'tracking' %}" class="nav-link">
                            <i class="fas fa-list nav-icon"></i>
                            <p>{% translate 'With tracking' %}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'Invoice:list' 'pending' %}" class="nav-link">
                            <i class="fas fa-list nav-icon"></i>
                            <p>{% translate 'Pending' %}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'Invoice:list' 'emitted' %}" class="nav-link">
                            <i class="fas fa-list nav-icon"></i>
                            <p>{% translate 'To Send' %}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'Invoice:list' 'sent' %}" class="nav-link">
                            <i class="fas fa-list nav-icon"></i>
                            <p>{% translate 'Sent' %}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'Invoice:list' 'cancelled' %}" class="nav-link">
                            <i class="fas fa-list nav-icon"></i>
                            <p>{% translate 'Cancelled' %}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'Invoice:list' 'all' %}" class="nav-link">
                            <i class="fas fa-list nav-icon"></i>
                            <p>{% translate 'All' %}</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Sales -->
            <li class="nav-item">
                <a   class="nav-link">
                    <i class="nav-icon fas fa-shopping-cart"></i>
                    <p>
                        {% translate 'Sales' %}
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'Sale:list' 'new_messages' %}" class="nav-link">
                            <i class="fas fa-list nav-icon"></i>
                            <p>{% translate 'New messages' %}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'Sale:list' 'all' %}" class="nav-link">
                            <i class="fas fa-list nav-icon"></i>
                            <p>{% translate 'All' %}</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Meli Questions -->
            <li class="nav-item">
                <a href="{% url 'Question:list' %}" class="nav-link">
                    <i class="nav-icon fa-solid fa-circle-question"></i>
                    <p> {% translate 'Questions' %} </p>
                </a>
            </li>

            <!-- Predefined Answers -->
            <li class="nav-item">
                <a href="{% url 'Answer:list' %}" class="nav-link">
                    <i class="nav-icon fas fa-message"></i>
                    <p> {% translate 'Predefined Answers' %} </p>
                </a>
            </li>

            <!-- Quzpide -->
            <li class="nav-item">
                <a   class="nav-link">
                    <i class="nav-icon fas fa-q"></i>
                    <p>
                        {% translate 'Quzpide' %}
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'MeliPost:list' %}" class="nav-link">
                            <i class="fas fa-sign-hanging nav-icon"></i>
                            <p>{% translate 'Posts' %}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'Quzpide:list' 'new_messages' %}" class="nav-link">
                            <i class="fas fa-list nav-icon"></i>
                            <p>{% translate 'New messages' %}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'Quzpide:list' 'all' %}" class="nav-link">
                            <i class="fas fa-list nav-icon"></i>
                            <p>{% translate 'All' %}</p>
                        </a>
                    </li>
                </ul>
            </li>


        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
<div class="sidebar-custom">
    <div class="form-check form-switch" style="float:left;">
        <input class="form-check-input" type="checkbox" id="theme-switch" role="switch">
        <label class="theme-switch form-check-label" for="theme-switch" style="color: #fff;">
            <i class="fas fa-moon nav-icon"></i>
        </label>
    </div>
    <a href="{% url base:dashboard}" class="btn btn-secondary hide-on-collapse pos-right"><i class="fas fa-cogs"></i></a>
    <!--    <a   class="btn btn-secondary hide-on-collapse pos-right">Help</a>-->
</div>
<script>
  var toggleSwitch = document.getElementById('theme-switch');
  var currentTheme = localStorage.getItem('theme');
  var mainHeader = document.querySelector('.main-header');

  if (currentTheme) {
    if (currentTheme === 'dark') {
      if (!document.body.classList.contains('dark-mode')) {
        document.body.classList.add("dark-mode");
      }
      if (mainHeader.classList.contains('navbar-light')) {
        mainHeader.classList.add('navbar-dark');
        mainHeader.classList.remove('navbar-light');
      }
      toggleSwitch.checked = true;
    }
  }

  function switchTheme(e) {
    if (e.target.checked) {
      if (!document.body.classList.contains('dark-mode')) {
        document.body.classList.add("dark-mode");
      }
      if (mainHeader.classList.contains('navbar-light')) {
        mainHeader.classList.add('navbar-dark');
        mainHeader.classList.remove('navbar-light');
      }
      localStorage.setItem('theme', 'dark');
    } else {
      if (document.body.classList.contains('dark-mode')) {
        document.body.classList.remove("dark-mode");
      }
      if (mainHeader.classList.contains('navbar-dark')) {
        mainHeader.classList.add('navbar-light');
        mainHeader.classList.remove('navbar-dark');
      }
      localStorage.setItem('theme', 'light');
    }
  }

  toggleSwitch.addEventListener('change', switchTheme, false);

  $(function () {
    var url = window.location;
    // for single sidebar menu
    $('ul.nav-sidebar a').filter(function () {
        return this.href == url;
    }).addClass('active');

    // for sidebar menu and treeview
    $('ul.nav-treeview a').filter(function () {
        return this.href == url;
    }).parentsUntil(".nav-sidebar > .nav-treeview")
        .css({'display': 'block'})
        .addClass('menu-open').prev('a')
        .addClass('active');
    });

</script>
<!-- /.sidebar-custom -->